<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Counter</title>
</head>
<body>
    <form action="/destroy_session" method="POST">
        <h1 style="text-align: center;">Counter</h1>
        <p style="text-align: center;">{{ session['views'] }} times</p>
    
        <input type="submit" value="Destroy">
    
    </form>
    
</body>
</html>